*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}

#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    position: sticky;
    width: 100%;
}
.container{
    padding: 0 6rem;
}
#navbar .logo{
    width: 10%;
}
#navbar .logo img{
    width: 70%;
}
#navbar .list{
    width: 50%;
    text-align: center;
}
#navbar .list a{
    margin-left: 2rem;
    position: relative;
    font-weight: 400;
    font-size: 15px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    transition: .4s;
}
#navbar .list a span{
    position: absolute;
    top: -13px;
    right: -17px;
    background-color: #01bad4;
    padding: 1px 7px 0;
    line-height: 16px;
    color: #fff;
    font-size: 10px;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar .list a:hover{
    color: #56cfe1;
}
#navbar .icons{
    color: rgba(0, 0, 0, 0.778);
}
#navbar .icons i{
    margin-left: 12px;
    transition: .3s;
    cursor: pointer;
    font-size: 20px;
    transform: scale(1);

}
#navbar .icons i:hover{
    color: #56cfe1;
    transform: scale(1.1);
}
@media (max-width:586px) {
    #navbar .list{
   display: none;
    }
    #navbar .icons{
        width: 35%;
        display: flex;
   
    }
    #navbar .logo{
        width: 30%;
    }
    #navbar .logo img{
        width: 100%;
    }
}


#arrival{  
    background-image: url(../image/Ekran\ Alıntısı.PNG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 80vh;
    animation: photo 8s ease-in infinite;
}
@keyframes photo {
    0%{
        background-image: url(../image/Ekran\ Alıntısı.PNG);
    }
   50%{
    background-image: url(../image/Ekran\ Alıntısı2.PNG);
   }
}
.arrival-text{
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.arrival-text p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #232323;
    opacity: 0.8;
}
.arrival-text h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 8px 0;
}
.arrival-text a{
    background-color: #232323;
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px 25px;
    display: inline-block;
    position: relative;
    z-index: 111;
    overflow: hidden;
}
.arrival-text a::after{
    background-color: #01bad4;
    position: absolute;
    top: 0%;
    left: 0;
    content: '';
    height: 0%;
    transition: .4s;
    width: 100%;
    z-index: -1;
}
.arrival-text a:hover::after{
    height: 100%;
}
@media (max-width:586px){
    #arrival{
        height: 70vh;
    }
    .arrival-text{
        left: 36%;
    }
}
#trending{
    padding: 4rem 0;
}

.trending-text{
   position: relative;
   width: 20%;
   margin: auto;
   font-family: Arial, Helvetica, sans-serif;
   padding: 2rem 0;
   text-align: center;
}
.trending-text span{
font-size: small;
}
.trending-text h1::before{
    background-color: #000000;
    position: absolute;
    top: 40%;
    left: -20px;
    content: '';
    height: 2px;
    width: 30%;
}
.trending-text h1::after{
    background-color: #000000;
    position: absolute;
    top: 40%;
    right: -20px;
    content: '';
    height: 2px;
    width: 30%;
}
.trending-product{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trending-product .box{
    position: relative;
    width: 22%;
    overflow: hidden;
    margin-top: 1rem;
}
.trending-product .box .top{
    overflow: hidden;
    position: relative;
}
.trending-product .box .top img{
    width: 100%;
    height: 100%;
    vertical-align: bottom;
    transform: scale(1);
    transition: .4s;
}
.trending-product .top:hover img{
    transform: scale(1.1);
}
.trending-product .box:hover .hovereffect{
    top: 50%;
}
.trending-product .hovereffect{
    position: absolute;
    left: 50%;
    top: -10%;
    transform: translate(-50%,-50%);
    width: 35%;
    height: 3rem;
    overflow: hidden;
    background-color: white;
    transition: .4s;
    border-radius: 20px;
}
.trending-product .top p{
position: absolute;
left: 50%;
bottom: -60px;
transform: translate(-50%,-50%);
transition: .4s;
color: white;
font-family: Arial, Helvetica, sans-serif;
}
.trending-product .top:hover P{
    bottom: 2px;
}
.trending-product .hovereffect a{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width: 100%;
    transition: .3s;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.trending-product .hovereffect:hover{
    background-color: black;
}
.trending-product .hovereffect:hover a{
    top: -20px;
}
.trending-product .hovereffect:hover i{
    top: 50%;
}
.trending-product .hovereffect i{
    position: absolute;
    left: 50%;
    top: 100%;
    transition: .3s;
    transform: translate(-50%,-50%);
    color: white;
}
.trending-product .box span{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 18px 14px;
    border-radius: 100%;
    right: 10px;
    top: 15px;
    font-size: 14px;
    color: white;
    background-color: #00a500;
    z-index: 111;
}
.trending-product .box .bottom h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px 0;
}
@media (max-width:586px){
    .container{
        padding: 0 1rem;
    }
    .trending-text{
        width: 100%;
    }
    .trending-text h1::before{
        left: 0;
    }
    .trending-text h1::after{
        right: 0;
    }
    .trending-product .box{
        width: 48%;
    }
    .trending-product .hovereffect {
        width: 50%;
        height: 3rem;
    }
}
